<% content_for :sidebar do %>
  <%= render_workshop_sidebar(@workshop) %>
<% end %>

<div id="workshop_registration">
  <div id="workshop_description">
    <%= render_workshop_description(@workshop) %>
  </div>

  <% unless @workshop.require_account && current_user.nil? %>
    <%= simple_form_for(@registration, :url => register_create_url(@workshop, anchor: 'ticket_information')) do |f| %>
      <h3><%= I18n.t "ems.ticket_information" %></h3>
      <div id="ticket_information" class="ticket_information">
        <%= render :partial => 'section_prices', :locals => {:f => f} %>
      </div>

      <%= render :partial => 'section_address', :locals => {:f => f} %>

      <% save_label = @workshop.crowdfunding? ? I18n.t('ems.donate_button') : I18n.t('ems.register_btn') %>
      <%= submit_tag save_label, class: 'btn btn-primary' %>
      <%= link_to I18n.t('ems.cancel_btn'), main_app.index_url, class: 'btn' %>
    <% end %>
  <% else %>
    <%= link_to I18n.t('core.login'), main_app.new_user_session_path, class: 'btn btn-primary', style: 'margin-bottom: 20px' %>
    <%= link_to I18n.t('core.create_account'), main_app.new_user_registration_path, class: 'btn'  %>
  <% end %>
</div>
