<% content_for :sidebar do %>
  <%= render_workshop_sidebar(@workshop) %>
<% end %>

<div id="workshop_registration">
  <div id="workshop_description">
    <%= render_workshop_description(@workshop) %>
    <% if @workshop.show_social_buttons? %>
      <div class="clearfix"></div>
      <%= render(partial: "dm_cms/shared/social_buttons") %>
    <% end %>
  </div>

  <% unless @workshop.require_account && current_user.nil? %>
    <%= simple_form_for @registration, url: register_create_url(@workshop, anchor: 'ticket_information'),
    html: { class: 'form-horizontal' }, wrapper: simple_form_theme_wrapper do |f| %>

      <%= render partial: 'section_prices', locals: {f: f} %>

      <%= render partial: 'section_address', locals: {f: f} %>

      <% unless current_user %>
        <%= add_recaptcha %>
      <% end %>

      <% save_label = @workshop.crowdfunding? ? I18n.t('ems.donate_button') : I18n.t('ems.register_btn') %>
      <%= submit_tag save_label, class: 'btn btn-primary' %>
      <%= link_to I18n.t('ems.cancel_btn'), main_app.index_url, class: 'btn' %>
    <% end %>
  <% else %>
    <%= link_to I18n.t('ems.login'), main_app.new_user_session_path(redirect_to: request.url), class: 'btn btn-primary', style: 'margin-bottom: 20px' %>
    <%= link_to I18n.t('ems.create_account'), main_app.new_user_registration_path, class: 'btn'  %>
  <% end %>
</div>
