<div id="workshop_registration">
  <div id="workshop_description">
    <%= render_workshop_description(@workshop) %>
  </div>

  <% unless @workshop.require_account && current_user.nil? %>
    <%= simple_form_for(@registration, :url => register_create_url(@workshop)) do |f| %>
      <h3><%= I18n.t "ems.ticket_information" %></h3>
      <div class="ticket_information">
        <%= render :partial => 'section_prices', :locals => {:f => f} %>
      </div>

      <% if @registration.user_profile.address_required %>
        <%= render :partial => 'section_address', :locals => {:f => f} %>
      <% end %>
      <%= submit_or_cancel :save => I18n.t('ems.register_btn'), :cancel => I18n.t('ems.cancel_btn'), :cancel_url => admin_workshops_path %>
    <% end %>
  <% else %>
    <div class='ticket_information account_required'>
      <p><%= I18n.t 'ems.registration_account_required' %></p>
      <ul>
        <li><%= link_to nls(:signin_link), main_app.new_user_session_path %></li>
        <li><%= link_to nls(:signin_register_link), main_app.new_user_registration_path %></li>
        <li><%= link_to nls(:signin_forgot_password_link), main_app.new_user_password_path %></li>
        <li><%= link_to nls(:signin_confirmation_instructions_link), main_app.new_user_confirmation_path %></li>
      </ul>
    </div>
  <% end %>
</div>
