<div class="receipt_section">
  <h2><%= I18n.t('ems.registration_receipt_title') %></h2>
  <div class="ticket">
    <h3><%= @registration.workshop.title %></h3>
    <ul>
      <li><span class="header"><%= I18n.t('ems.ticket_receipt_attendee') %></span><%=h @registration.user.display_name %></li>
      <li><span class="header"><%= I18n.t('ems.ticket_receipt_ticket_number') %></span><%=h @registration.receipt_code %></li>
      <% if @registration.workshop_price %>
        <li><span class="header"><%= I18n.t('ems.ticket_receipt_price') %></span><%= humanized_money_with_symbol @registration.price %></li>
      <% end %>
    </table>
  </div>

  <%= markdown(@receipt_content, :safe => false) %>
</div>
