<% content_for :content_title, 'Initial Setup' %>
<h4>Step 1: Create the account for the primary website</h4>

<%= simple_form_for(@account, url: dm_core.admin_setup_step1_path, 
  html: { class: 'form-horizontal' }, wrapper: :bs3_horizontal_form, wrapper_mappings: DmAdmin::FormWrapperMappings) do |f| %>
  <%= f.error_notification message: "Please review the problems below" %>

  <%= f.input :domain, required: true, hint: "Do not include 'www', 'staging', or 'dev' - they are handled automatically. You can use 'localhost' for initial development setup" %>
  <%= f.input :account_prefix, label: 'Site prefix', required: true, hint: "A short name used when referencing the account. You can use 'local' for initial development setup" %>
  <%= f.input :company_name %>
  <%= f.input :contact_email %>

  <%= submit_or_cancel cancel_url: dm_core.admin_setup_initial_setup_path %>

<% end %>
