<% new_record = @cms_contentitem.new_record? %>
<% submit_url = (new_record ? create_content_admin_cms_contentitem_path(@current_page) : admin_cms_contentitem_path(@cms_contentitem)) %>
<% title = (new_record ? "New Content for: #{@current_page.slug}" : "Editing Content for: #{@current_page.slug}") %>
<% content_for :content_title, title.html_safe %>

<%= simple_form_for @cms_contentitem, :url => submit_url do |f| %>
  <%= f.error_notification :message => "<p>Please review the problems below</p>"%>
  <%= content_frame :title => title, :toolbar => :languages do %>
    <div class="tab-content">
      <div id="tab_general" class="tab-pane active fade in">
        <%= f.input :itemtype, :label => 'Item Type', :collection => CmsContentitem::CONTENT_TYPES %>
        <%= f.input :container, :label => 'Content Name', :hint => 'This is normally "body" or "sidebar" or something' %>
        <%= f.input :purpose, :label => 'Purpose', :hint => 'Short comment on type of content this is (optional)' %>
        <%= f.input :enable_cache, :as => :toggle, :label => 'Cache Content' %>
      </div>
      <% DmCore::Language.language_array.each do |locale| %>        
        <div id="tab_<%= locale %>" class="tab-pane fade">
          <%= f.input "content_#{locale}", :as => :text, :input_html => { :rows => 12, :class => 'input-block-level monospaced' } %>
        </div>
      <% end %>
    </div>
    <%= submit_or_cancel :cancel_url => admin_cms_page_url(@current_page) %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <ul class="side_list block">
    <li><span class="contact-name"><strong>Tags &mdash; Images</strong>
      <i class="monospaced">{% photo img : 'image.jpg', url : http_url, caption : "caption text" %}</i></span>
    </li>
    <li><span class="contact-name"><strong>Tags &mdash; Lexicon</strong>
      <i class="monospaced">{% lex te:'sage', audio:no, class:tu %}</i></span>
    </li>
    <li><span class="contact-name"><strong>Tags &mdash; Boxes/Buttons</strong>
      <i class="monospaced">{% pullout width : 340, side : right %}<br /><br />
        stuff<br /><br />
      {% endpullout %}</i></span>
    </li>
    <li>
      <span class="contact-name"><i class="monospaced">{% continue_bar continue_text : 'Start', continue_url : 'alphabet-vowel-quiz', review_url : 'alphabet-introduction' %}</i></span>
    </li>
  </ul>
  
<% end %>
