<% new_record = @cms_contentitem.new_record? %>
<% submit_url = (new_record ? create_content_admin_cms_contentitem_path(@current_page) : admin_cms_contentitem_path(@cms_contentitem)) %>
<% title = (new_record ? "New Content" : "Editing Content for: #{@cms_contentitem.container}") %>


<%= simple_form_for @cms_contentitem, :url => submit_url do |f| %>
  <%= f.error_notification :message => "Please review the problems below"%>
  <%= f.hidden_field :original_updated_on %>
  <%= content_frame :title => title, :toolbar => :languages do %>
    <div class="tab-content">
      <div id="tab_general" class="tab-pane active fade in">
        <%= f.input :itemtype, :label => 'Item Type', :collection => CmsContentitem::CONTENT_TYPES, :include_blank => false %>
        <%= f.input :container, :label => 'Content Name', :hint => 'This is normally "body" or "sidebar" or something' %>
        <%= f.input :enable_cache, :as => :toggle, :label => 'Cache Content' %>
      </div>
      <% current_account.site_locales.each do |locale| %>        
        <div id="tab_<%= locale %>" class="tab-pane fade">
          <%= f.input "content_#{locale}", :label => 'Content', :wrapper => :vertical, :as => :text_full_width, :mono => true, :rows => 24 %>
        </div>
      <% end %>
    </div>
    <%= submit_or_cancel :cancel_url => admin_cms_page_url(@current_page) %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <div class="tagsinput">
    <p>List of available tags<br><small><em>click for details</em></small></p>
    <% Liquid::Template.tags.sort.each do |tag, tag_class| %>
      <% unless tag_class.details[:summary].blank? %>
        <a href="#" title="<%= tag_class.details[:summary] %>" data-toggle="modal" data-target="<%= "#tag_example_#{tag}" %>" ><span class="tag"><%= tag %></span></a>
      <% end %>
    <% end %>
  </div>
  
<% end %>

<% Liquid::Template.tags.each do |tag, tag_class| %>
  <% unless tag_class.details[:description].blank? %>
    <div id="<%= "tag_example_#{tag}" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 id="myModalLabel"><%= tag %></h5>
      </div>
      <div class="modal-body">
        <p><%= tag_class.details[:description] %></p>
        <pre><%= tag_class.details[:example] %></pre>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  <% end %>
<% end %>
