<a name="<%= dom_id @forum_comments.first %>" id="<%= dom_id @forum_comments.first %>">&#xA0;</a>

<%= pagination(@forum_comments) %>

<% if @forum_comments.first.is_root? %>
  <div class="comments clearfix">
    <ul class="comment_list first_comment">
      <%= render(:partial => 'comment_item', object: @forum_comments.first) %>
    </ul>
  </div>
<% end %>

<h3>COMMENTS</h3>

<% if user_signed_in? and !@forum_topic.locked? %>
  <p><%= link_to I18n.t('txt.reply_to_topic', :default => 'Reply to topic'), "#reply" %></p>
<% end %>

<div class="comments clearfix">
  <ul class="comment_list">
    <% for forum_comment in @forum_comments do %>
      <%= render(:partial => 'comment_item', object: forum_comment) unless forum_comment.is_root? %>
    <% end %>
  </ul>
</div>

<%= pagination(@forum_comments) %>

<script type='text/javascript'><!--//--><![CDATA[//><!--
if (history && history.replaceState && $$('.pagination')) {
  $$('.pagination a').invoke('observe', 'click', function(){
      <%= p = {'page' => params[:page].to_i} if params[:page]
       modify_history('pushState', @forum_topic.title, "#{@forum_topic.slug}.html", p) %>
  });
  $$('.pagination a').invoke('writeAttribute','data-remote');
  $$('.edit a.utility').invoke('writeAttribute','data-remote');
};
//--><!]]></script>
