<% content_for :page_title, @forum_topic.title %>

<% content_for :sidebar do %>

  <div id="monitor_button">
    <%= render(:partial => 'dm_forum/monitorships/monitor_topic_button', :object => @monitoring, :as => :monitoring) %>
  </div>
  
  <div class="forum_sidebar_voices">
    <h5><%= I18n.t 'fms.voices' %></h5>
    <ul>
      <% @forum_topic.voices.each do |user| %>
        <li><%= user.display_name %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :crumbs, forum_crumbs(@forum_topic.forum) %>

<div class="comment_section">

  <%= render(:partial => 'dm_forum/forums/forum_header', :object => @forum_topic.forum, :as => :forum) %>

  <h1 id="topic_title">
    <%= @forum_topic.title %>
    <% if @forum_topic.locked? %>
      <span>(<%= I18n.t 'fms.topic' %> <%= I18n.t 'fms.locked' %>)</span>
    <% end %>
    <% if user_signed_in? %>
      <% if can? :edit, @forum_topic %>
        <span id="topic_mod">
          <%= link_to(I18n.t('fms.edit'), edit_forum_forum_topic_path(@forum, @forum_topic), :class => "utility") %>
          <% if is_admin? %>
            | <%= link_to(I18n.t('fms.delete'), forum_forum_topic_path(@forum, @forum_topic), :class => "utility", :method => :delete, :confirm => I18n.t('fms.views_topics.delete_sure')) %>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </h1>

  <p class="subtitle">
    <%= I18n.t 'fms.count_comments', :count => @forum_topic.forum_comments.size, 
              :num => number_with_delimiter(@forum_topic.forum_comments.size) %>,
    <%= I18n.t 'fms.count_voices', :count => @forum_topic.voices.size, 
              :num => number_with_delimiter(@forum_topic.voices.size) %>
  </p>

  <%= render(:partial => 'comments_list') unless @forum_comments.empty?%>

  <% if user_signed_in? %>
    <% if @forum_topic.locked? %>
      <p class="topic_locked"><%= I18n.t 'fms.views_topics.locked_topic' %></p>
    <% else %>
      <h3 id="reply" style="text-transform: uppercase"><%= I18n.t 'fms.reply_to_topic' %></h3>

      <div id="comment_reply_form" class="comment_reply_form">
        <%= simple_form_for [@forum, @forum_topic, @forum_topic.forum_comments.new] do |f| %>
          <%= f.input :body, :as => :text, :label => I18n.t('fms.views_topics.body'), 
                          :input_html => {:rows => 10} %>
          <%= submit_or_cancel :save => I18n.t('fms.views_topics.save_reply'), :cancel => I18n.t('fms.views_topics.cancel'),
                :cancel_url => [@forum] %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<script type='text/javascript'><!--//--><![CDATA[//><!--
//if (history  && history.replaceState && $$('.pagination')) {
//  Event.observe(window, 'popstate', function(event){
//    if(event.state) new Ajax.Request("<%= @forum_topic.slug %>", {method: 'get', parameters: event.state})
//  });
//};
//--><!]]></script>
