<% content_for :content_title, "#{@newsletter.name} <small>Newsletter</small>".html_safe %>
<% content_for :content_title_extra do %>
  <%= page_header_buttons do %>
    <%= link_to(icon_label(:trash, 'Delete'), admin_newsletter_path(@newsletter), method: :delete, class: "btn btn-sm btn-default", data: {confirm: 'Are you sure you wish to delete this newsletter?'}) %>
  <% end %>
<% end %>

<%= panel header: false do %>
  <div class="row">
    <ul class="statistics">
      <% total = @newsletter.subscribed_count + @newsletter.unsubscribed_count + @newsletter.cleaned_count %>
      <li><%= stat_block_small label: 'subscribed', number: @newsletter.subscribed_count, color_type: :success, percent: total == 0 ? 0 : (100 * @newsletter.subscribed_count / total) %></li>
      <li><%= stat_block_small label: 'unsubscribed', number: @newsletter.unsubscribed_count, color_type: :danger, percent: total == 0 ? 0 : (100 * @newsletter.unsubscribed_count / total) %></li>
      <li><%= stat_block_small label: 'cleaned', number: @newsletter.cleaned_count, color_type: :info, percent: total == 0 ? 0 : (100 * @newsletter.cleaned_count / total) %></li>
    </ul>
    <hr>
  </div>

  <div class="row">
    <dl class="dl-horizontal">
      <dt>Subscription Token</dt>
      <dd><%= @newsletter.token %></dd>
    </dl>
  </div>
<% end %>

<%= panel body: false, title: 'Campaign Folders' do %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th width="50">Count</th>
        <th width="100">Folder ID</th>
      </tr>
    </thead>
    <tbody>
      <% @folder_list.each do |folder| %>
        <tr class="item">
          <td><%= folder['name'] %></td>
          <td><%= folder['cnt'] %></td>
          <td><%= folder['folder_id'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
