<% comment_day = params[:comment_day].to_i %>
<% comments = Comment.where(commentable_type: ForumTopic, created_at: (Date.today - comment_day.day).midnight..(Date.today - (comment_day - 1).day).midnight).order('created_at DESC') %>
<% title = comment_day == 0 ? 'Today\'s Forum Comments' : comment_day == 1 ? 'Yesterday\'s Forum Comments' : "Forum Comments #{comment_day} days ago" %>
<% content_for :forum_title_toolbar do %>
  <%= toolbar_button(comments.size, dm_core.admin_dashboard_path, :title => 'Number of comments today', :class => 'label label-success pull-right') %>
  <ul class="icons">
    <li><%= link_to '<i class="font-refresh"></i>'.html_safe, dm_forum.admin_widget_forum_comments_path(comment_day: comment_day), class: 'hovertip', title: 'Refresh', remote: true %></li>
  </ul>
  <div class="pagination pagination-small pull-right">
    <ul>
      <li><%= link_to 'Prev Day', dm_forum.admin_widget_forum_comments_path(comment_day: comment_day + 1), remote: true %></li>
      <% if comment_day == 0 %>
        <li><a href="#" class='disabled'>Next Day</a></li>
      <% else %>
        <li><%= link_to 'Next Day', dm_forum.admin_widget_forum_comments_path(comment_day: comment_day - 1), remote: true %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= content_box :title => title, :toolbar => content_for(:forum_title_toolbar) do %>
  <div class="timeline-messages">
    <% if comments.size == 0 %>
      <p>No comments posted yet</p>
    <% else %>
      <% comments.each do |comment| %>
        <!-- Comment -->
        <div class="message">
          <div class="message-img"><%= avatar_for comment.user, 50 %></div>
            <div class="message-body">
              <div class="text">
                <%= present(comment).formatted_comment %>
              </div>
              <p class="attribution">by <%= link_to present(comment).author, '#', class: 'hovertip', data: {placement: 'top'}, title: comment.user.full_name %> at <%= format_datetime comment.created_at %>
                <%= link_to comment.commentable.title, dm_forum.forum_forum_topic_path(comment.commentable.forum.slug, comment.commentable.slug, anchor: "forum_comment_#{comment.id}"), class: 'post_title', target: '_blank' %>
              </p>
            </div>
        </div>
        <!-- /comment -->
      <% end %>
    <% end %>
  </div>
<% end %>