<%= render partial: 'header_menu' %>
<% content_for :content_title, "Additional Configuration <small>#{@workshop.title}</small>".html_safe %>

<% submit_url = additional_configuration_admin_workshop_path %>
<%= simple_form_for @workshop, url: submit_url,
      html: { class: 'form-horizontal' }, wrapper: :bs3_horizontal_form, wrapper_mappings: DmAdmin::FormWrapperMappings do |f| %>

  <%= f.error_notification message: "Please review the problems below" %>

  <%= panel header: false do %>
    <%= subsection title: 'Visual and Social Settings' do %>
      <%= f.input :preferred_header_accent_color, label: 'Accent Color', hint: 'Accent color used in header (if supported by theme). Any valid CSS color' %>
      <%= f.input :preferred_show_social_buttons, as: :toggle, label: 'Show social buttons' %>
      <%= f.input :image, label: 'Workshop Image', hint: 'Image used as a banner to the registration page.  Also used for Facebook.' %>
      <%= locale_tabs do |locale| %>
        <%= f.input "summary_#{locale}", label: 'Workshop Summary', as: :code_editor, input_html: {style: "height: 100px;"},
               hint: 'Text used when a workshop is liked on Facebook.  This text will not be visible on the registration page.' %>
      <% end %>
    <% end %>

    <%= subsection title: 'Associated Blog & Forum' do %>
      <p style="margin:10px;">
        Select a blog and forum to be associated with this event.  Any paid or accepted registrations will automatically be granted access
        to them.
      </p>

      <%= f.input :cms_blog, label: 'Blog',  collection: CmsBlog.where(['owner_id = ? OR owner_id IS NULL', @workshop.id]), selected: @workshop.cms_blog.try(:id), include_blank: true %>
      <%= f.input :forum,    label: 'Forum', collection: Forum.where(['owner_id = ? OR owner_id IS NULL', @workshop.id]),   selected: @workshop.forum.try(:id), include_blank: true %>
    <% end %>
    <%= submit_or_cancel cancel_url: (@workshop.new_record? ? admin_workshops_url : admin_workshop_path(@workshop)) %>

  <% end %>
  
  <div class="block-inner">
    <%= link_to 'Clear Facebook Cache', "https://developers.facebook.com/tools/debug/og/object?q=#{ERB::Util.url_encode(dm_event.register_new_url(@workshop))}",
                 target: '_blank', class: 'btn btn-xs btn-default' %>
  </div>

<% end %>