<%= render partial: 'header_menu' %>
<% content_for :content_title, "Additional Configuration <small>#{@workshop.title}</small>".html_safe %>

<% submit_url = additional_configuration_admin_workshop_path %>
<%= simple_form_for @workshop, url: submit_url, wrapper: :bs3_vertical_form, wrapper_mappings: DmAdmin::VerticalFormWrapperMappings do |f| %>

  <%= f.error_notification message: "Please review the problems below" %>

  <%= panel title: icon_label(:social_media, 'Social Media') do %>
    <%= f.input :show_social_buttons, as: :boolean, inline_label: 'Show social buttons' %>
    <%= locale_tabs do |locale| %>
      <%= f.input "summary_#{locale}", label: 'Workshop Summary', as: :code_editor, autoheight: true, input_html: {class: "CodeMirror-autoheight"},
             hint: 'Text used when a workshop is liked on Facebook.  This text will not be visible on the registration page.' %>
    <% end %>
  <% end %>

  <%= panel title: icon_label(:blogs, 'Associated Blog & Forum') do %>
    <p style="margin:10px;">
      Select a blog and forum to be associated with this event.  Any paid or accepted registrations will automatically be granted access
      to them.
    </p>

    <%= f.input :cms_blog, label: 'Blog',   collection: CmsBlog.where(['owner_id = ? OR owner_id IS NULL', @workshop.id]), selected: @workshop.cms_blog.try(:id), include_blank: true %>
    <% if defined?(DmLms) %>
      <%= f.input :forum,    label: 'Forum',  collection: Forum.where(['owner_id = ? OR owner_id IS NULL', @workshop.id]),   selected: @workshop.forum.try(:id), include_blank: true %>
    <% end %>
    <% if defined?(DmLms) %>
      <%= f.input :course,   label: 'Course', collection: Course.where(['owner_id = ? OR owner_id IS NULL', @workshop.id]),  selected: @workshop.course.try(:id), include_blank: true %>
    <% end %>
  <% end %>
    
  <%= panel title: icon_label('fa fa-list-alt fa-fw', 'Custom Fields') do %>
    <%= f.simple_fields_for :custom_field_defs do |builder| %>
      <%= render 'dm_core/admin/custom_fields/custom_field_def_fields', f: builder %>
    <% end %>
    <%= link_to_add_custom_fields 'Add Field', f, :custom_field_defs %>      
  <% end %>
    
  <%= submit_or_cancel cancel_url: (@workshop.new_record? ? admin_workshops_url : admin_workshop_path(@workshop)) %>

<% end %>