<% content_for :content_title, "Lost Users" %>
<% content_for :content_subtitle, "#{@workshop.title}" %>
  
<%= panel body: false, title: "#{@lost_users.count} Potential Lost Users" do %>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <p>Provides a list of users who have created accounts in the past <strong><%= @days_ago %> days</strong> and who 
          have <strong>not</strong> registered for any workshops yet.  It gives the opportunity to detect
          users who got lost between registering as a new user and registering for a workshop.</p>
      </div>
      <div class="col-md-4">
        <%= simple_form_for :lost_users, url: lost_users_admin_workshop_url(@workshop),
            html: { class: 'form-inline' }, wrapper: :bs3_vertical_form, wrapper_mappings: DmAdmin::FormWrapperMappings do |f| %>
          <%= f.input :days_ago, label: 'Number of days', wrapper: :bs3_vertical_group do %>
              <%= f.input_field :days_ago, class: 'form-control', value: @days_ago %>
              <%= content_tag :span, class: "input-group-btn" do %>
              <button class="btn btn-default" type="submit">Check</button>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Email</th>
        <th class="date">Created On</th>
      </tr>
    </thead>
    <tbody>
      <% @lost_users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= format_date(user.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
