<% content_for :content_title, "Permissions" %>
<% content_for :content_subtitle, "#{@workshop.title}" %>

<div class="row">
  <div class="col-md-8">
    <%= panel body: false, title: "Permissions" do %>
      <div class="panel-body">
        <p>The users below can be granted different levels of access to this particular workshop.</p>
  
        <% @event_managers_alacarte.each do |user| %>
          <div class="row">
            <div class="col-md-12">
              <%= subsection title: user.full_name do %>
                <% manage_event_state = user.has_role?(:manage_event, @workshop) ? 'btn-success active' : 'btn-default' %>
                <% manage_event_registration_state = user.has_role?(:manage_event_registration, @workshop) ? 'btn-success active' : 'btn-default' %>
                <% manage_event_finance_state = user.has_role?(:manage_event_finance, @workshop) ? 'btn-success active' : 'btn-default' %>
                <%= link_to 'Workshop Editing',     dm_event.ajax_toggle_permission_admin_workshop_path(@workshop, user.id, :manage_event), class: "permission_btn btn btn-sm #{manage_event_state}", role: 'button', remote: true, method: :patch %>
                <%= link_to 'Manage Registrations', dm_event.ajax_toggle_permission_admin_workshop_path(@workshop, user.id, :manage_event_registration), class: "permission_btn btn btn-sm #{manage_event_registration_state}", role: 'button', remote: true, method: :patch %>
                <%= link_to 'View Finances',        dm_event.ajax_toggle_permission_admin_workshop_path(@workshop, user.id, :manage_event_finance), class: "permission_btn btn btn-sm #{manage_event_finance_state}", role: 'button', remote: true, method: :patch %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
  <div class="col-md-4">
    <%= subsection title: "Event Managers" do %>
      <p>Current users that can fully manage this event</p>
  
      <table class="table table-bordered table-bordered table-condensed table-striped">
        <tbody>
          <% @event_managers.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<script>
$(document).ready(function() {
  $('.permission_btn').on("ajax:success", function(e, content) {
    if ($(this).is(".active")) {
      $(this).addClass("btn-default");
      $(this).removeClass("active").removeClass("btn-success");
    } else {
      $(this).addClass("active").addClass("btn-success");
      $(this).removeClass("btn-default");
    }
  });
});
</script