<%= content_frame :title => 'Registrations' do %>
  <div class="table-overflow">
    <table id="registration_table" class="table table-striped table-bordered table-block" data-source="<%= dm_event.admin_workshop_url(@workshop) %>">
      <thead>
        <tr>
          <th width=20></th>
          <th width=50>Receipt</th>
          <th>Name</th>
          <th width=25>Price</th>
          <th width=75>Date</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'registration_stats', locals: {workshop: @workshop} %>

  <div class="separator"></div>

  <ul class="navigation-light block">
    <li><%= link_to 'Edit Workshop', edit_admin_workshop_url(@workshop) %></li>
    <li><%= link_to 'New Registration', register_new_url(@workshop), :targe => '_blank' %></li>
  </ul>

<% end %>

