<% content_for :content_title, 'Outstanding Payments' %>

<% num_reminders   = @unpaid.count { |x| PaymentReminderService.payment_reminder_due?(x) && !x.should_writeoff? } %>
<% num_to_writeoff = @unpaid.count { |x| x.should_writeoff? } %>
<% toolbar = capture do %>
  <span class='text-danger'><%= num_to_writeoff %> will be written off&nbsp;</span>
  <%= toolbar_btn("Send #{num_reminders} Payment Reminders", admin_workshop_send_payment_reminder_emails_path, class: 'btn btn-xs btn-info', method: :patch, data: {confirm: "Are you sure you wish to send a reminder email to those eligible?"}) %>
<% end %>
<%= panel body: false, title: "#{@unpaid.count} Unpaid Participants", toolbar: toolbar, class: 'panel-warning' do %>
  <div class="panel-body">
    <p>Shows those that have missed their payment (either a full payment, or a recurring payment).  If they have made all the payments
    up to this point in time, they are not listed.  A line is marked in blue if we have detected that
      they should be sent a payment reminder. <em>Send Payment Reminders</em> will send the email to all persons marked in blue.</p>
  </div>
  <table id="unpaid_participants_table" class="table table-bordered table-condensed table-striped">
    <thead>
      <tr class="grouping_header">
        <th colspan="7">Group By:
          <a class="group-by" data-column="2">Workshop</a> or
          <a class="group-by" data-column="1">Name</a> or
          <a class="group-by" data-column="none">None</a>
        </th>
      </tr>
      <tr>
        <th class="receipt_code">Receipt</th>
        <th class="name">Name</th>
        <th class="name">Workshop</th>
        <th class="cost">Balance</th>
        <th class="cost">Payment</th>
        <th class="date">Due On</th>
        <th class="date">Reminded</th>
        <th>Name sort col</th>
        <th>Workshop sort col</th>
      </tr>
    </thead>
    <tbody>
      <% @unpaid.each do |registration| -%>
        <tr>
          <td class="receipt_code"><%= link_to registration.receipt_code, dm_event.edit_admin_registration_path(registration) %></td>
          <td class="name"><%= registration.full_name %> </td>
          <td class="name"><%= registration.workshop.title %></td>
          <td class="cost"><%= registration.balance_owed.format %><%= content_tag(:span, icons(:comments), class: 'pull-right') if registration.private_comments.count > 0 %></td>
          <td class="cost"><%= registration.payment_owed.format %><%= " <sup>R</sup>".html_safe if registration.try(:workshop_price).try(:recurring_payments?) %></td>
          <td class="date"><%= format_date(registration.last_payment_due_on) %></td>
          <% color = 'bg-info' if PaymentReminderService.payment_reminder_due?(registration) %>
          <% color = 'bg-danger' if registration.should_writeoff? %>
          <td class="date <%= color if color %>">
            <% if registration.payment_reminder_sent_on.nil? %>
              not yet
            <% elsif registration.payment_reminder_history.count < 2 %>
              <%= "#{distance_of_time_in_words_to_now(registration.payment_reminder_sent_on)} ago" %>
            <% else %>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= "#{distance_of_time_in_words_to_now(registration.payment_reminder_sent_on)} ago" %> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <% registration.payment_reminder_history.each do |date| %>
                    <li><a><%= "#{distance_of_time_in_words_to_now(date)} ago" %></a></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </td>
          <td><%= registration.receipt_code %></td>
          <td><%= registration.last_payment_due_on %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= panel body: false, title: "#{@writeoffs.count} Writeoffs", class: 'panel-danger' do %>
  <div class="panel-body">
    <p>The following registrations are now considered "written off" - there is no expectation that payment will be made.  Payment reminders will
      <strong>not</strong> be sent to them.</p>
  </div>
  <table id="writeoffs_table" class="table table-bordered table-condensed table-striped">
    <thead>
      <tr class="grouping_header">
        <th colspan="7">Group By:
          <a class="group-by" data-column="2">Workshop</a> or
          <a class="group-by" data-column="1">Name</a> or
          <a class="group-by" data-column="none">None</a>
        </th>
      </tr>
      <tr>
        <th class="receipt_code">Receipt</th>
        <th class="name">Name</th>
        <th class="name">Workshop</th>
        <th class="cost">Balance</th>
        <th class="date">Registered</th>
      </tr>
    </thead>
      <tbody>
        <% @writeoffs.each do |registration| -%>
          <tr>
            <td class="receipt_code"><%= link_to registration.receipt_code, dm_event.edit_admin_registration_path(registration) %></td>
            <td class="name"><%= registration.full_name %> </td>
            <td class="name"><%= registration.workshop.title %></td>
            <td class="cost"><%= registration.balance_owed.format %><%= content_tag(:span, icons(:comments), class: 'pull-right') if registration.private_comments.count > 0 %></td>
            <td class="date"><%= format_date(registration.created_at) %></td>
            <td><%= registration.receipt_code %></td>
            <td><%= registration.last_payment_due_on %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
<% end %>