<% workshop = Workshop.find(workshop_id) %>
<% percent = workshop.total_paid.cents.percent_of(workshop.funding_goal.cents) %>
<div markdown="0" class="donation_card <%= div_class %>" style="<%= div_style %>">
  <%= image_tag image %>
  <div class="progress_bar" data-value="<%= percent %>"><span> <%= "#{percent}%" %> / <%= workshop.funding_goal.format(:no_cents => true) %></span></div>  
  <div class="donation_card_text clear">
    <%= content.html_safe %>
  </div>
  <div class="donate_button">
    <a href="<%= button_link.blank? ? '#ticket_information' : button_link %>">
      <%= button_text.blank? ? I18n.t("ems.donate_button") : button_text %>
    </a>
  </div>
</div>

<% if false %>
<div markdown="0" class="donation_status">
  <div class="progress_bar" data-value="<%= percent %>"><span> <%= "#{percent}%" %> / <%= workshop.funding_goal.format(:no_cents => true) %></span></div>  
  <div class="donation_status_text">
    <h2 class="goal"><%= I18n.t 'ems.project_goal' %></h2>
    <h2 class="goal_amount"><%= workshop.funding_goal.format(:no_cents => true) %></h2>
    <h2 class="raised"><%= I18n.t 'ems.amount_raised' %></h2>
    <h2 class="raised_amount"><%= workshop.total_paid.format(:no_cents => true) %></h2>
  </div>
  <div class="donate_button"><a href="<%= button_link %>"><%= button_text %></a></div>
</div>
<% end %>