<% content_for :content_title, 'Media Library' %>
<% toolbar = toolbar_btn(icons(:new), new_admin_media_file_path, title: 'New Upload', class: "btn btn-link btn-icon") %>
<%= panel title: 'Thumbnails', toolbar: toolbar do %>
  <h6>Filter by tag:</h6>
  <div class="tagsinput block">
    <%= link_to content_tag(:span, 'all', class: "tag #{'active' if @tag_filter == 'all'}"), admin_media_files_path(filter: 'all') %>
    <%= link_to content_tag(:span, '/', class: "tag #{'active' if @tag_filter == 'top'}"), admin_media_files_path(filter: 'top') %>
    <% MediaFile.tag_list_all.each do |tag| %>
      <% active_tag = (@tag_filter == tag ? 'active' : '') %>
      <%= link_to content_tag(:span, tag, class: "tag #{active_tag}"), admin_media_files_path(filter: tag) %>
    <% end %>
  </div>
  
  <% @media_files.each_slice(4) do |media_chunk| %>
    <div class="row">
      <% media_chunk.each do |media_file| %>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="block">
            <div class="thumbnailx thumbnail-boxed">
              <% if media_file.image? or media_file.pdf? %>
                <%= link_to image_tag(media_file.media_url(:thumb), width: '100%'), media_file.media_url, class: 'thumbnail lightbox' %>
              <% else %>
                <%= link_to media_file.media_url do %>
                <div class="aspect_wrapper_square">
                  <div class="thumbnail_extension_thumb">
                    <span><%= media_file.media.file.extension %></span>
                  </div>
                </div>
                <% end %>
              <% end %>
              <div class="caption">
                <h6 style="word-wrap: break-word;text-align:center;margin-top:0px;"><%= media_file.media.file.filename %></h6>
                <%= link_to icons(:edit), edit_admin_media_file_path(media_file), class: "btn btn-link btn-icon" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class='col-md-12'>
      <%= will_paginate(@media_files, inner_window: 10, next_label: 'Next', previous_label: 'Prev', renderer: WillPaginate::AdminThemeRenderer) %>
    </div>
  </div>
<% end %>

