<!DOCTYPE html>
<html lang="en">

<%= render :partial => "layouts/admin/page_header" %>

<body id="<%= admin_theme_id %>">

  <%= render :partial => "layouts/admin/page_main_nav" %>

  <!-- Main wrapper -->
  <div class="wrapper <%= content_for(:sidebar_right).blank? ? 'two-columns' : 'three-colums' %>">

	  <!-- Left sidebar -->
    <div class="sidebar" id="left-sidebar">

      <% if content_for(:sidebar).blank? %>
      <% else %>
        <%= content_for :sidebar %>
      <% end %>

    </div>
    <!-- /left sidebar -->
    
    
    <!-- Main content -->
    <div class="content">
      
		  <%= flash_admin %>
      <div class="outer">
        <div class="inner">
          <div class="page-header"><!-- Page header -->
            <h5><%= content_for :content_title %></h5>
            <%= content_for :content_title_extra %>
            <!-- <ul class="icons">
                <li><a href="#" class="hovertip" title="My tasks"><i class="font-tasks"></i></a></li>
                <li><a href="#" class="hovertip" title="Reload data"><i class="font-refresh"></i></a></li>
                <li><a href="#" class="hovertip" title="Settings"><i class="font-cog"></i></a></li>
            </ul> -->

          </div><!-- /page header -->
          <div class="body">
            <%= yield %>
          </div>

        </div>
      </div>
    </div>
    <!-- /main content -->

    <% unless content_for(:sidebar_right).blank? %>
      <!-- Right sidebar -->
      <div class="sidebar" id="right-sidebar">
        <div class="appendable">
          <%= content_for :sidebar_right %>
        </div>
      </div>
      <!-- /right sidebar -->
    <% end %>
    
  </div>
  <!-- /main wrapper -->

</body>
</html>
