<%= simple_form_for(@user, :url => dm_core.admin_user_path) do |f| %>
  <%= f.error_notification :message => "<p>Please review the problems below</p>"%>

	<%= content_frame :title => @title do %>
    
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :country_id, :wrapper_html => { :class => 'searchDrop' }, :input_html => { :class => 'chosen_select' }, 
                :collection => ut_country_select_collection, :label_method => lambda {|t| t[0]}, :value_method => lambda {|t| t[1]},
                :label => "Country" %>
    
    <%= f.input :role_ids, :collection => Role.where(:resource_type => nil).order('name asc'), 
             :label_method => :name, 
             :value_method => :id,
             :as => :check_boxes, 
             :label => "Roles",
             :item_wrapper_class => 'checkbox inline', :input_html => {:class => 'style'},
             :hint => 'Still experimental. Note that <Strong>admin</strong> will give access to entire system' %>

    <%= submit_or_cancel :cancel_url => dm_core.admin_users_url %>

	<% end %>
<% end %>