<%= simple_form_for(@user, :url => dm_core.admin_user_path) do |f| %>
  <%= f.error_notification :message => "<p>Please review the problems below</p>"%>

	<%= content_frame :title => @title do %>
    
    <%#= f.input :first_name %>
    <%#= f.input :last_name %>
    <%= f.input :email %>
    <%#= f.input :country_id, :wrapper_html => { :class => 'searchDrop' }, :input_html => { :class => 'chosen_select' }, 
                :collection => ut_country_select_collection, :label_method => lambda {|t| t[0]}, :value_method => lambda {|t| t[1]},
                :label => "Country" %>
    
    <%= f.input :role_ids, :collection => Role.where(:resource_type => nil).order('name asc').reject {|r| r.name == 'sysadmin' },
             :label_method => :name, 
             :value_method => :id,
             :as => :check_boxes, 
             :label => "Roles",
             :item_wrapper_class => 'checkbox inline', :input_html => {:class => 'style'},
             :hint => 'Still experimental. Note that <Strong>admin</strong> will give access to entire system' %>

    <%= submit_or_cancel :cancel_url => dm_core.admin_users_url %>

	<% end %>

  <% if defined?(DmEvent) && current_user.is_sysadmin? %>
    <%= content_box :title => "Event Registrations" do %>
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th class="name">Workshop Title</th>
            <th class="name">Domain</th>
          </tr>
        </thead>
        <tbody>
          <% Registration.unscoped.where(user_profile_id: @user.user_profile).each do |registration| -%>
            <tr>
              <td class="name"><%= registration.workshop ? registration.workshop.title : 'oops' %></td>
              <td class="name"><%= registration.account.domain %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>