<%= render partial: "layouts/cms_templates/page_header" %>

<%= render partial: "layouts/cms_templates/page_top" %>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header"><%= @post.title %>
          <small>by <a href="#">Moksha CMS</a></small>
        </h1>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">

      <!-- Blog Post Content Column -->
      <div class="col-md-8">

        <!-- Blog Post -->
        <!-- Date/Time -->
        <p><i class="fa fa-clock-o"></i> Posted on <%= format_date @post.published_on %></p>
        <hr>
        <!-- Preview Image -->
        <% unless @post.featured_image.blank? %>
          <%= site_media_image_tag @post.featured_image, class: 'img-responsive' %>
          <hr>
        <% end %>

        <!-- Post Content -->
        <%= display_post_content(@post) %>
        <%= render(partial: "dm_cms/shared/social_buttons") if @blog.show_social_buttons? %>

        <hr>

        <!-- Posted Comments -->
        <%= render partial: 'layouts/cms_templates/comment_section', locals: { commenting_on: @post, comments: @comments } %>
      </div>

      <div class="col-md-4 sidebar">
        <%= render partial: "layouts/cms_templates/blog_right_sidebar" %>
      </div>

    </div>
    <!-- /.row -->
    <%= render :partial => "layouts/cms_templates/page_footer" %>

  </div>
  <!-- /.container -->
  <%= content_for :footer_scripts %>

</body>
</html>
