<%= content_frame :title => 'Users' do %>
  <div class="table-overflow">
    <table id="user_table" class="table table-striped table-bordered table-block" data-source="<%= dm_core.admin_users_url %>">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Country</th>
          <th>Last Access</th>
          <th>Role</th>
          <th width="75">Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<% end %>

<% content_for :sidebar do %>

  <!-- Sidebar stats -->
  <ul class="topstats block">
    <li>
      <% accessed_users = User.access_last_30_days %>
      <div class="left">Active Users:<h1><%= accessed_users[:total] %></h1></div>
      <div class="topchart" id="access_user_sparkline"><%= accessed_users[:list] %></div>
    </li>
    <li>
      <% new_users = User.new_last_30_days %>
      <div class="left">New Users:<h1><%= new_users[:total] %></h1></div>
      <div class="topchart" id="new_user_sparkline"><%= new_users[:list] %></div>
    </li>
  </ul>
  <!-- /sidebar stats -->
  
<% end %>