<% content_for :content_title_extra do %>
  <%= page_header_buttons do %>
    <div class="header-bar-stats">
      <ul class="page-stats">
        <li><%= render partial: 'dm_core/admin/shared/header_stats_new_users' %></li>
        <li><%= render partial: 'dm_core/admin/shared/header_stats_user_activity' %></li>
      </ul>
    </div>
  <% end %>
<% end %>
<%= panel title: icon_label(:users, 'Users'), body: true do %>
  <div class="datatable">
    <table id="user_table" class="table table-striped table-bordered" data-source="<%= dm_core.admin_users_url %>">
      <thead>
        <tr>
          <th width="10"></th>
          <th>Name</th>
          <th>Email</th>
          <th>Country</th>
          <th>Last Access</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<% end %>
