<% new_record = @cms_page.new_record? %>
<% submit_url = (new_record ? create_page_admin_cms_page_path(@current_page) : admin_cms_page_path(@cms_page)) %>
<% title = (new_record ? "New Child for: " : "Editing Page: ") %>

<%= simple_form_for @cms_page, :url => submit_url do |f| %>
  <%= f.error_notification :message => "<p>Please review the problems below</p>"%>
  <%= content_frame :title => "#{title} #{@current_page.slug}" do %>
  
    <%= f.input :slug, :label => 'Page Slug', :hint => 'Name page will be known by' %>
    <%= f.input :pagetype, :label => 'Page Type', :collection => CmsPage::PAGETYPE %>
    <%= f.input :title, :label => 'Page Title' %>
    <%= f.input :published, :as => :toggle, :label => 'Publish It?' %>
    <%= f.input :template, :label => 'Template to Use' %>
    <%= f.input :link %>
    <%= f.input :menutitle, :label => 'Menu Title' %>
    <%= f.input :menuimage, :label => 'Menu Image' %>
    <%= f.input :requires_login, :as => :toggle, :label => 'Requires Login' %>
    <%= submit_or_cancel :cancel_url => {:action => :show, :id => @current_page} %>
  <% end %>
<% end %>
