<% open_or_closed = sub_items.blank? ? '' : (cookies["page_tree_#{item.id}"] ? 'tree_open' : 'tree_closed') %>
<li data-item_id="<%= item.id %>" class="<%= 'root' if item.is_root? %> <%= open_or_closed %>" >
  <dl>
    <dt>
      <% if !item.is_root? %>
        <a href="#" class="tree_expand"></a>
      <% end %>
      <% if item.divider? %>
        <% item_title = "&mdash; #{item.menutitle} &mdash;".html_safe %>
        <%= can?(:manage_content, item) ? link_to(item_title, :action => :show, :id => item) : item_title %>
      <% else %>
        <% item_title = (item.title.blank? ? item.slug : item.title) %>
        <%= can?(:manage_content, item) ? link_to(item_title, :action => :show, :id => item) : item_title %>
        <%= "  <span class='icon-globe'></span>".html_safe if item.welcome_page? %>
      <% end %>
    </dt>
    <dd><%= present(item).label_published %></dd>
    <dd>
      <%= link_to "New Child", new_page_admin_cms_page_path(item) if can? :manage_content, :all %>
    </dd>
  </dl>
  <%= (sub_items.blank? ? '' : content_tag(:ul, nested_tree(sub_items), :class => 'sub_tree', :style => ((item.is_root? || open_or_closed == 'tree_open') ? '' : 'display:none'))) %>
</li>
