<li class="tree_item"><%= link_to item.slug, :action => :show, :id => item %> : <%= link_to "New", new_page_admin_cms_page_path(item) %>
  : <%= link_to icons('font-arrow-up'), move_up_admin_cms_page_path(item) %>
  : <%= link_to icons('font-arrow-down'), move_down_admin_cms_page_path(item) %>
  <%= (sub_items.blank? ? '' : content_tag(:ul, nested_tree(sub_items))) %>
</li>
