<% content_for :content_title, icon_label(:pages, 'Pages') %>
<% content_for :content_title_extra do %>
  <%= page_header_buttons do %>
    <%= link_to('Snippets', dm_cms.admin_cms_snippets_path, class: 'btn btn-default btn-sm') if can? :manage_content, :all %>
    <div class="btn-group">
      <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= icons(:cog) %> <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><%= link_to icon_label(:refresh, 'Clear Page Cache'), admin_expire_cache_path, method: :patch %></li>
      </ul>
    </div>
  <% end %>

<% end %>

<% if !current_account.preferred_site_enabled? %>
  <div class="alert alert-warning">
    Site is currently disabled - all requests will be sent to &#x27;Coming Soon&#x27; page unless logged in
  </div>
<% end %>

<%= panel header: false do %>
  <ul id="tree_sort" data-update_url="<%= dm_cms.admin_cms_page_sort_path %>">
    <%= nested_tree(@tree) %>
  </ul>
<% end %>

