<% content_for :secondary_title, "#{@current_page.slug} &mdash; #{@current_page.title}".html_safe %>
<ul class="middleNavA">
    <li><%= link_to "#{iconb(:pages)}<span>Add More Content</span>".html_safe, new_content_admin_cms_contentitem_path(@current_page), :title => 'Add Content' %></li>
    <li><%= link_to "#{iconb(:view)}<span>View Page</span>".html_safe, url_for("/#{DmCore.config.default_locale}/#{@current_page.slug}"), :title => 'View Page', :target => '_blank' %></li>
    <!-- <li><%= link_to "{iconb(:edit_2)}<span>Edit Page</span>".html_safe, edit_admin_cms_page_path(@current_page), :title => 'Edit Page' %></li> -->
    <li><%= link_to "#{iconb(:trash)}<span>Delete Page</span>".html_safe, admin_cms_page_path(@current_page), :method => :delete, :title => 'Delete Page', :confirm => "Are you sure you wish to delete this page?" %></li>
</ul>

<div class="divider"><span></span></div>

<%= flash_admin %>

<% @current_page.cms_contentitems.each do |item| %>
  <% toolbar = render :partial => 'content_toolbar', :locals => { :contentitem => item } %>
  <% purpose = "<span class='content_purpose'>#{item.purpose}</span>" if item.purpose %>
  <%= content_frame :title => "#{item.container} #{purpose}", :toolbar => toolbar do %>
    <%= form_row :label => '' do %>
      <em><strong><%= item.itemtype %></strong> will be used to process the content</em>
    <% end %>
    <%= form_row :label => 'Content' do %>
      <%= truncate(item.content, :length => 300) %>
    <% end %>    
  <% end %>

<% end %>

<% content_for :sidebar do %>
  <div id="tab-container" class="tab-container">
    <ul class="iconsLine ic2 etabs">
        <li><a href="#details" title=""><span class="icos-info"></span></a></li>
        <li><a href="#pages" title=""><span class="icos-list"></span></a></li>
    </ul>
  
    <div class="divider"><span></span></div>
  
    <div id="details">
      <% toolbar = link_to('Edit', edit_admin_cms_page_path(@current_page), :title => 'Edit Page', :class => 'buttonH bBlue') %>
      <%= content_frame :title => "Page Details", :toolbar => toolbar do %>
        <table cellpadding="0" cellspacing="0" width="100%" class="tDefault sideTable">
          <tbody>
            <tr>
              <td><strong>Published?</strong></td>
              <td>
                <div class="on_off"><input type="checkbox" name="chbox1" <%= 'checked="checked"' if @current_page.is_published? %> disabled="disabled" /></div>
              </td>
            </tr>
            <tr>
              <td><strong>Slug</strong></td>
              <td><%= @current_page.slug %></td>
            </tr>
            <tr>
              <td><strong>Title</strong></td>
              <td><%= @current_page.title %></td>
            </tr>
            <tr>
              <td><strong>Type</strong></td>
              <td><%= @current_page.pagetype %></td>
            </tr>
            <tr>
              <td><strong>Template</strong></td>
              <td><%= @current_page.page_template %><%= "<span class='icos-arrowup'></span>".html_safe if @current_page.template.blank? %></td>
            </tr>
            <tr>
              <td><strong>Link</strong></td>
              <td><%= @current_page.link %></td>
            </tr>
            <tr>
              <td><strong>Menu Title</strong></td>
              <td><%= @current_page.menutitle %></td>
            </tr>
            <tr>
              <td><strong>Menu Image</strong></td>
              <td><%= @current_page.menuimage %></td>
            </tr>
            <tr>
              <td><strong>Requires Login?</strong></td>
              <td>
                <div class="on_off"><input type="checkbox" name="chbox1" <%= 'checked="checked"' if @current_page.requires_login? %> disabled="disabled" /></div>
              </td>
            </tr>
          </tbody>
        </table>

      <% end %>
    </div>
    
    <div id="pages">
      <div class="widget">
          <div class="whead">
              <h6>Pages</h6>
              <div class="clear"></div>
          </div>
          <div class="cms_filetree"></div>
      </div>
    </div>
  </div>

<% end %>

