<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title><%= content_for :page_title %></title>
  <%= csrf_meta_tag %>

  <link href="<%= admin_theme_path %>css/main.css" rel="stylesheet" type="text/css" />
  <link href="<%= admin_theme_path %>_custom/custom.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag 'admin' %>
  
  <!--[if IE]> <link href="<%= admin_theme_path %>css/ie.css" rel="stylesheet" type="text/css"> <![endif]-->

  <%= javascript_include_tag 'admin' %>
  <script type="text/javascript" src="<%= admin_theme_path %>js/jquery-migrate-1.1.1.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/jquery_ui_custom.js"></script>

  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/charts/excanvas.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/charts/jquery.flot.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/charts/jquery.flot.pie.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/charts/jquery.flot.resize.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/charts/jquery.flot.categories.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/charts/jquery.sparkline.min.js"></script>
  
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.tagsinput.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.inputlimiter.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.maskedinput.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.autosize.js"></script>
  <!-- remove until fix for stealing click from textarea
     <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.ibutton.js"></script> -->
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.dualListBox.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.validate.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.uniform.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.select2.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/forms/jquery.cleditor.js"></script>

  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/uploader/plupload.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/uploader/plupload.html4.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/uploader/plupload.html5.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/uploader/jquery.plupload.queue.js"></script>

  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/wizard/jquery.form.wizard.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/wizard/jquery.form.js"></script>

  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/ui/jquery.collapsible.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/ui/jquery.timepicker.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/ui/jquery.jgrowl.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/ui/jquery.pie.chart.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/ui/jquery.fullcalendar.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/ui/jquery.elfinder.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/ui/jquery.fancybox.js"></script>

  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/tables/jquery.dataTables.min.js"></script>

  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/bootstrap/bootstrap-bootbox.min.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/bootstrap/bootstrap-progressbar.js"></script>
  <script type="text/javascript" src="<%= admin_theme_path %>js/plugins/bootstrap/bootstrap-colorpicker.js"></script>

  <script type="text/javascript" src="<%= admin_theme_path %>_custom/custom.js"></script>

  <%= yield :head if content_for(:head)%>

</head>
