<%= simple_form_for(@account, :url => dm_core.admin_account_path) do |f| %>
  <%= f.error_notification :message => "<p>Please review the problems below</p>"%>

	<%= content_frame :title => @title do %>
    
    <%= f.input :company_name %>
    <%= f.input :contact_email %>
    <%= f.input :domain %>
    <%= f.input :account_prefix %>
    
    <%= f.input :preferred_site_enabled, :as => :toggle, :label => 'Publish Site?' %>
    <%= f.input :preferred_site_default_locale, :required => true, :label => 'Default Locale'%>  
    <%= f.input :preferred_site_ssl_enabled, :as => :toggle, :label => 'Enable SSL?' %>
    <%= f.input :preferred_webmaster_email, :label => 'Webmaster Email' %>
    <%= f.input :preferred_support_email, :label => 'Support Email' %>
    <%= f.input :preferred_google_analytics_tracker_id, :label => 'Google Analytics Tracker ID' %>
    <%= f.input :preferred_mailchimp_api_key, :label => 'MailChimp API Key' %>
    
    <%= submit_or_cancel :cancel_url => dm_core.admin_account_url %>

	<% end %>
<% end %>
