<% content_for :content_title_extra do %>
  <div class='navbar'>
    <ul class='nav pull-right'>
      <li><%= @account.preferred_site_enabled? ? colored_label('Site Published', :success) : colored_label('Site Disabled') %></li>
    </ul>
  </div>
<% end %>

<ul class="navigation-light block">
  <li><%= link_to "General".html_safe, dm_core.admin_account_general_path %></li>
  <li><%= link_to "Site Wide".html_safe, dm_core.admin_account_metadata_path %></li>
  <li><%= link_to "Email".html_safe, dm_core.admin_account_email_path %></li>
  <li><%= link_to "Analytics &amp; Payments".html_safe, dm_core.admin_account_analytics_path %></li>
  <li><%= link_to "Media".html_safe, dm_core.admin_account_media_path %></li>
</ul>
