<% if forum_topics.total_entries %>
  <%= will_paginate forum_topics %>
<% end %>

<% if user_signed_in? %>
  <% if @monitored %>
    ( <%= (link_to((I18n.t 'txt.a', :default => 'all'), forum_show_path(@forum), :class => "filter", :id => 'filter_link') + ' | ' + (I18n.t 'txt.monitored', :default => 'monitored')).html_safe%> )   
  <% else %>
    ( <%= ((I18n.t 'txt.all', :default => 'all') +' | ' + link_to((I18n.t 'txt.monitored', :default => 'monitored'), forum_show_path(@forum)+"?monitored=true", :class => "filter", :id => 'filter_link')).html_safe%> ) 
  <% end %>
<% end %>

<ul class="topic_list">
  <% for forum_topic in forum_topics %>
    <li class="clearfix <%= 'sticky' if forum_topic.sticky %>">
      <span class="topic">
        <%= forum_topic_icon(forum_topic) %>
        <%= topic_title_link forum_topic, :rel => "bookmark" %>
      </span>
      <span class="num_comments" title="Number of replies">
          <%= link_to(forum_forum_topic_path(@forum, forum_topic, :page => forum_topic.last_page, :anchor => dom_id(forum_topic.recent_comment))) do %>
          <%= number_with_delimiter(forum_topic.num_replies) %>
          <span>replies</span>
        <% end %>
      </span>
      <span class="num_views" title="Number of views">
        <%= link_to(forum_forum_topic_path(@forum, forum_topic, :page => forum_topic.last_page, :anchor => dom_id(forum_topic.recent_comment))) do %>
          <%= number_with_delimiter(forum_topic.hits) %>
          <span>views</span>
        <% end %>
      </span>
      <div class="topic_info">
        <span class="started_by"><%= I18n.t 'txt.started', :default => 'Started by' %>:  
          <span class="author"><%= forum_topic.user.display_name %></span>
        </span>
        <span class="when">
          <%= link_to(forum_forum_topic_path(@forum, forum_topic, :page => forum_topic.last_page, :anchor => dom_id(forum_topic.recent_comment))) do %>
            <i class="icon-comment-alt"></i>
            <%= I18n.t 'txt.comment_age', :when => time_ago_in_words(forum_topic.recent_comment.created_at), 
                :default => "%{when} ago" %>
            <% if forum_topic.last_user %>
              <%= I18n.t('txt.by_user_html', 
                :user => "<span class='author'>#{h(forum_topic.recent_comment.user.display_name)}</span>",
                :default => "by %{user}").html_safe %>
            <% end %>
          <% end %>
        </span>
      </div>
    </span></li>
  <% end %>
</ul>


<%= will_paginate forum_topics %>

<script type='text/javascript'><!--//--><![CDATA[//><!--
if (history && history.replaceState) {
  if ($('filter_link')) $('filter_link').writeAttribute('data-remote');
  if ($$('.pagination')) {
    $$('.pagination a').invoke('writeAttribute','data-remote'); 
    $$('.pagination a').invoke('observe', 'click', function(){
      <%= p = Hash.new
       p.update('page' => params[:page].to_i) if params[:page]
       p.update('monitored' => 'true') if @monitored
       modify_history('pushState', @forum.name, "#{@forum.slug}.html", p) %>
    });
  }
};
//--><!]]></script>
