<% if commenting_on.comments_allowed? %>
  <div id="reply" class="comment_reply_form">
    <% if current_user %>
      <%= simple_form_for :comment, url: [commenting_on, :ajax_add_comment] do |f| %>
        <%= f.input :body, :as => :text, :label => I18n.t('cms.comment_body'), 
                        :input_html => {:rows => 10} %>
        <%= f.submit I18n.t('cms.comment_submit'), class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <p><%= I18n.t 'cms.comment_login_required' %></p>
      <%= link_to I18n.t('core.login'), main_app.new_user_session_path, class: 'btn btn-primary', style: 'margin-bottom: 20px' %>
      <%= link_to I18n.t('core.create_account'), main_app.new_user_registration_path, class: 'btn'  %>
    <% end %>
  </div>
<% end %>