<h5><%= I18n.t 'txt.views_posts.formatting_help', :default => 'Formatting Help' %></h5>

<div id="MarkupHelp">
<ul class="help">
  <li><%= t 'txt.views_posts.formatting_bold', :default => '**bold**' %></li>
  <li><%= t 'txt.views_posts.formatting_italics', :default => '*italics*, _italics_' %></li>
  <li><%= (t 'txt.views_posts.formatting_blockquote', :default => '&gt; <span>(quotes)</span>').html_safe %></li>
  <li>[IBM](http://www.ibm.com) <span>(link)</span></li>
  <li>![alt text](http://www.foo.com/image.jpg)</li>
  <li><%= t 'txt.views_posts.formatting_icode', :default => '`code`' %></li>
  <li><%= (t 'txt.views_posts.formatting__horizontal_rule', :default => '*** <span>(horizontal rule)</span>').html_safe %></li>
  <li><%= (t 'txt.views_posts.formatting_list', :default => '* <span>or</span> 1. <span>(lists)</span>').html_safe %></li>
</ul>
<p class="help"><a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> | <a href="http://michelf.com/projects/php-markdown/extra/">Markdown Extra</a> | <a href="http://maruku.rubyforge.org/proposal.html">Metadata</a> | <a href="http://golem.ph.utexas.edu/~distler/blog/itex2MMLcommands.html">itex</a></p>
</div>
