<% content_for :content_title, icon_label('font-comments', @forum_category.name) %>
<% content_for :content_title_extra do %>
  <%= page_header_buttons do %>
    <%= link_to(icon_label(:edit, 'Edit'), [:edit, :admin, @forum_category], class: "btn btn-sm btn-default", title: 'Edit') %>
  <% end %>
<% end %>

<% toolbar = toolbar_btn(icons(:new), new_admin_forum_category_forum_path(@forum_category), title: 'New Forum', class: "btn btn-xs btn-default") %>
<%= panel title: 'Forums', toolbar: toolbar, body: false do %>
    <table id="drag_sort" class="table table-striped table-bordered table-block" data-update_url="<%= dm_forum.admin_forum_sort_path %>">
      <thead>
        <tr>
          <th class="sort_handle"></th>
          <th>Name</th>
          <th>Associated Event</th>
          <th width="50">Type</th>
          <th width="50">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @forum_category.forums.includes(:owner).each do |forum| %>
          <% present forum do |forum_presenter| %>
            <tr class="item" data-item_id="<%= forum.id %>">
              <td class="sort_handle"></td>
              <td>
                <%= link_to forum.name, [:admin, forum] %>
                <div class="description">
                  <%= forum.description %>
                </div>
              </td>
              <td><%= forum.owner.try(:title) %></td>
              <td><%= forum_presenter.visibility %></td>
              <td><%= forum_presenter.label_published %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
<% end %>