<% content_for :content_title, "Manage Prices <small>#{@workshop.title}</small>".html_safe %>
<% content_for :sidebar do %>
  <ul class="navigation-light block">
    <li><%= link_to 'Back to Workshop', edit_admin_workshop_url(@workshop) %></li>
  </ul>
<% end %>

<% toolbar = nav_bar_items([ link_to(icon_label('icon-plus', 'New'), new_admin_workshop_workshop_price_path(@workshop), :title => 'New Forum', :class => "nav-btn-primary") ]) %>
<%= content_frame :title => 'Workshop Prices', :toolbar => toolbar do %>
  <div class="table-overflow">
    <table id="drag_sort" class="table table-striped table-bordered table-block" data-update_url="<%= dm_event.admin_workshop_price_sort_path %>">
      <thead>
        <tr>
          <th class="sort_handle"></th>
          <th>Description</th>
          <th width="50">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @workshop_prices.each do |workshop_price| %>
          <tr class="item" data-item_id="<%= workshop_price.id %>">
            <td class="sort_handle"></td>
            <td>
              <%= link_to workshop_price.price_description, [:edit, :admin, workshop_price] %>
            </td>
            <td><%= humanized_money_with_symbol workshop_price.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>