<% submit_url = (@cms_snippet.new_record? ? admin_cms_snippets_path : admin_cms_snippet_path) %>
<%= simple_form_for @cms_snippet, url: submit_url,
    html: { class: 'form-horizontal' }, wrapper: :bs3_horizontal_form, wrapper_mappings: DmAdmin::FormWrapperMappings do |f| %>

  <%= f.error_notification message: "Please review the problems below" %>
  <% toolbar = capture do %>
    <%= link_to icons(:help), '#', class: 'btn btn-default btn-xs', data: { toggle: 'modal', target: '#tag_reference' } %>
    <%= link_to icons(:cancel), admin_cms_snippets_path, class: 'btn btn-default btn-xs' %>
  <% end %>
  <%= panel title: 'Edit Snippet', toolbar: toolbar do %>
    <%= f.input :slug, label: 'Slug', required: true %>
    <%= f.input :description, label: 'Description' %>
    <%= f.input :published, as: :toggle, label: 'Publish It?' %>
    <%= f.input :itemtype, label: 'Item Type', collection: CmsContentitem::CONTENT_TYPES, include_blank: false %>
    <%= f.input :enable_cache, as: :toggle, label: 'Cache Content' %>
    
    <%= locale_tabs title: '' do |locale| %>
      <div class="col-sm-12">
        <%= f.input "content_#{locale}", label: 'Content',    required: true, wrapper: :bs3_vertical_form, as: :code_editor, input_html: {style: "height: 500px;"} %>
      </div>
    <% end %>

    <%= submit_or_cancel cancel_url: admin_cms_snippets_path, delete_url: ([:admin, @cms_snippet] unless @cms_snippet.new_record?), delete_confirm: 'Are you sure you wish to delete this snippet?' %>

  <% end %>
<% end %>

<%= render partial: 'dm_cms/admin/shared/liquid_tags_ref' %>
