<p><%= I18n.t('core.reset_password_email_1', value: @resource.email) %></p>

<p><%= I18n.t('core.reset_password_email_2') %></p>

<p><%= link_to I18n.t('core.reset_password_email_link'), Account.current.url_base + edit_password_path(@resource, :reset_password_token => @token, :locale => DmCore::Language.locale), class: 'button' %></p>

<p><%= I18n.t('core.reset_password_email_3') %></p>

<p><%= I18n.t('core.reset_password_email_4') %></p>
