<% tab_prefix = "#{options[:id]}_tab_" %>
<div id="<%= options[:id] %>" class="tabbable tabs-right locale_tabs <%= options[:class] %>">
  <ul class="nav nav-tabs">
    <% current_account.site_locales.each do |locale| %>
      <% active = "active" if current_account.preferred_default_locale == locale %>
      <li class="<%= active %>"><%= link_to flag_image(locale), "\##{tab_prefix + locale.to_s}", data: {:toggle => 'tab'} %></li>
    <% end %>
  </ul>
  <div class="tab-content well">
    <% current_account.site_locales.each do |locale| %>        
      <% active = "active" if current_account.preferred_default_locale == locale %>
      <div id="<%= tab_prefix + locale.to_s %>" class="tab-pane fade in <%= active %>">
        <div class="">
          <%= content[locale] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
