<% content_for :content_title, icon_label('font-bullhorn', 'Blogs') %>
<% content_for :content_title_extra do %>
  <% if can? :manage_content, :all %>
    <%= page_header_buttons do %>
      <%= link_to icon_label(:new, 'New Blog'), new_admin_cms_blog_path, title: 'New Blog', class: 'btn btn-xs btn-default' %>
    <% end %>
  <% end %>
<% end %>

<%= panel title: 'Current Blogs', body: false do %>
  <table id="drag_sort" class="table table-striped table-bordered table-condensed" data-update_url="<%= dm_cms.admin_cms_blog_sort_path %>">
    <thead>
      <tr>
        <% if can?(:manage_content, :all) %>
          <th class="sort_handle"></th>
        <% end %>
        <th>Title</th>
        <th>Associated Event</th>
        <th width="50">Type</th>
        <th width="18"><span class='hovertip' title='Followers or members'><%= icons('icon-users') %></span></th>
        <th width="50">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @blogs.each do |blog| %>
        <% present blog do |blog_presenter| %>
          <tr class="item" data-item_id="<%= blog.id %>">
            <% if can?(:manage_content, :all) %>
              <td class="sort_handle"></td>
            <% end %>
            <td>
              <%= link_to blog.title, admin_cms_blog_path(blog) %>
            </td>
            <td><%= blog.owner.try(:title) %></td>
            <td><%= blog_presenter.visibility %></td>
            <td><%= blog.is_private? ? content_tag(:span, blog.member_count(:all), class: 'hovertip', title: 'Members') : content_tag(:span, blog.followers.count, class: 'hovertip', title: 'Followers') %></td>
            <td><%= blog_presenter.label_published %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>