<% content_for :content_title, icon_label(:blogs, 'Blogs') %>
<% content_for :content_title_extra do %>
  <% if can? :manage_content, :all %>
    <%= page_header_buttons do %>
      <%= link_to icon_label(:new, 'New Blog'), new_admin_cms_blog_path, title: 'New Blog', class: 'btn btn-sm btn-default' %>
    <% end %>
  <% end %>
<% end %>

<%= panel title: 'Current Blogs', body: true do %>
  <div id="drag_sort" class="admin_blog_list" data-update_url="<%= dm_cms.admin_cms_blog_sort_path %>">
    <% @blogs.each do |blog| %>
      <% present blog do |blog_presenter| %>
        <div class="media item" data-item_id="<%= blog.id %>">
          <div class="media-left">
            <%= link_to blog_show_url(blog), target: '_blank' do %>
              <img class="media-object img-circle" src="<%= MediaFile.url_by_name(blog.header_image, version: 'thumb') %>" width=64 height=64>
              <%= icons(:view, icon_class: 'fa-lg') %>
            <% end %>
          </div>
          <div class="media-body">
            <div class="pull-right">
              <% if false #post.notification_sent_on %>
                <span class='hovertip' title='<%= format_date(post.notification_sent_on) %>'><%= icons(:mail) %></span>
              <% end %>
              <span class="info_stat">
                <%= blog_presenter.visibility %>
              </span>
              <span class="info_stat">
                <%= blog.is_private? ? content_tag(:span, "(#{blog.member_count(:all)} Members)") : content_tag(:span, "#{blog.followings.count} Followers", class: 'text-info') %>
                <%#= blog.is_private? ? colored_label("Members: #{blog.member_count(:all)}", :info) : colored_label("Followers: #{blog.followers.count}", :info) %>
              </span>
              <%= blog_presenter.label_published %>
              <% if can?(:manage_content, :all) %>
                <span class="sort_handle"></span>
              <% end %>
            </div>
            <h4 class="media-heading"><%= link_to blog.title, admin_cms_blog_path(blog) %></h4>
            <% if blog.owner && blog.owner.title %>
              <p>Event: <em><%= link_to blog.owner.title, dm_event.admin_workshop_path(blog.owner) %></em></p>
            <% end %>
            <div class="tag_list">
              <% blog.tag_list.each do |tag| %>
                <% active_tag = (@tag_filter == tag ? 'active' : '') %>
                <%= link_to content_tag(:span, tag, class: "tag #{active_tag}"), edit_admin_cms_blog_path(blog) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>