<% content_for :content_title, icon_label('font-bullhorn', @blog.title) %>
<% content_for :content_title_extra do %>
  <div class='navbar'><ul class='nav pull-right'>
    <li><%= present(@blog).label_published %></li>
    <li><%= link_to(icon_label('icon-search', 'View'), blog_show_url(@blog), :class => "nav-btn-primary", title: 'View', :target => '_blank') %></li>
    <li><%= link_to(icon_label('icon-edit', 'Edit'), [:edit, :admin, @blog], :class => "nav-btn-primary", title: 'Edit') %></li>
    <li><%= link_to(icon_label('icon-trash', 'Delete'), [:admin, @blog], :method => :delete, :class => "nav-btn-danger", :confirm => 'Are you sure you wish to delete this blog?  All posts/comments will also be deleted!') %></li>
  </ul></div>
<% end %>

<div class="block well body">
  <dl>
    <dt>Slug</dt>
    <dd><%= @blog.slug %></dd>
  </dl>

</div>

<% toolbar = nav_bar_items([ link_to(icon_label('icon-plus', 'New'), new_admin_cms_blog_cms_post_path(@blog), :title => 'New Post', :class => "nav-btn-primary") ]) %>
<%= content_frame :title => 'Posts', :toolbar => toolbar do %>
  <div class="table-overflow">
    <table class="table table-striped table-bordered table-block">
      <thead>
        <tr>
          <th>Title</th>
          <th width="50">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @blog.posts.each do |post| %>
          <% present post do |post_presenter| %>
            <tr class="item" data-item_id="<%= post.id %>">
              <td>
                <%= link_to(post.title, edit_admin_cms_post_path(post)) %>
              </td>
              <td><%= post_presenter.label_published %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="row-fluid">

  <%= content_box :title => 'Grant Blog Access', :class => 'span6' do %>
    <h5>Add Workshop Attendees</h5>
    <p>Add all attendees of a workshop to this blog. Duplicates will be ignored. Only those marked "Accepted" or "Paid" will be added</p>
    <p><em>Note: Only users with an account will be added.</em></p>
    <%= simple_form_for :workshop_blog, :url => dm_cms.blog_add_member_admin_cms_blog_path(@blog), :html => { :class => 'form-horizontal' } do |f| %>
      <%= select_tag :workshop_id, options_from_collection_for_select(Workshop.upcoming, :id, :title), :include_blank => true, class: "style" %>
      <%= submit_tag 'Add', :class => "btn btn-primary" %>
    <% end %>

    <div class="separator"></div>
    
    <h5>Add Individual Users</h5>
    <div class="table-overflow">
      <table id="blog_user_table" class="table table-striped table-bordered" data-source="<%= dm_cms.blog_users_admin_cms_blog_url %>">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  <% end %>
  
  <% toolbar = toolbar_button(@blog.member_list.count, '#', :title => 'Number of users with blog access', :class => 'label label-success pull-right') %>
  <%= content_frame :title => 'Users with Access', :toolbar => toolbar, :class => 'span6' do %>
    <div class="table-overflow">
      <table class="table table-striped table-bordered table-block">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <% @blog.member_list.each do |user| %>
            <tr>
              <td><%= link_to(icons("icon-minus"), dm_cms.blog_delete_member_admin_cms_blog_path(@blog, :user_id => user.id), :method => :delete, :title => 'Remove Access') + "&nbsp;&nbsp;".html_safe + user.full_name %></td>
              <td><%= user.country.english_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

</div>